.headerLeft {
    display: flex;
    align-items: left;
}

.icon {
    align-items: center;
}

.padding {
    padding-left: 10px;
    white-space: nowrap;
}

.centeredSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 20000px;
}

.rightAlign {
    display: flex;
    align-items: right;
    white-space: nowrap;
}

.button {
    color: white;
    text-decoration: underline;
}

.buttonLogout {
    color: white;
    background-color: #f5429e;
}